header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 85px;
    background-color: #0d0e0e;
    box-shadow: 0px 1px 3px rgba(13, 14, 14, 0.3);
    display: flex;
    justify-content: center;
    z-index: 1;
}

#search-bar-box {
    display: flex;
    align-items: center;
}

#search-bar {
    background-color: #ebebeb;
    box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.302);
    padding-left: 20px;
    padding-right: 15px;
    outline: 0;
    height: 48%;
    border-radius: 30px;
    border: none;
    width: 450px;
    transition: background-color 0.15s;
}

#search-bar:hover,
#search-bar:focus {
    background-color: #d6d6d6;
}

/* BOTAO DE WIDGETS DA HEADER */

#right-box {
    display: flex;
    position: absolute;
    right: 100px;
    top: 15px;
    gap: 25px;
}

.widget {
    border: none;
    background-color: transparent;
    border-radius: 100%;
    padding: 9px 4px;
    transition: background-color 0.15s;
}

.widget:hover {
    background-color: #ffffff10;
}
.widget:active {
    background-color: #ffffff1f;
}

.widget img {
    width: 70%;
}