#main {
    margin-top: 120px;
    display: flex;
    justify-content: center;
    flex-direction: column ;
}

nav {
    display: grid;
    grid-template-columns: 400px 400px 400px;
    row-gap: 35px;
    column-gap: 20px;
    padding-bottom: 20px;
}

/* FILTROS DE MUSICA/ARTISTA */

#filters-box {
    margin: 100px 0 20px 3px;
    width: 1237px;
    display: flex;
}

.filter {
    font-size: 20px;
    background-color: #d8b207;
    border-radius: 30px;
    width: 150px;
    height: 30px;
    border: none;
    margin: 0 8px 0 0;
    color: rgb(25, 27, 27);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.2s, margin 0.2s;
}

.filter:hover {
    background-color: #ecc308;   
    margin: -2px 8px 2px 0 ; 
}

.filter:active {
    background-color: #aa8c04;  
    margin: 3px 8px -3px 0;
}

/* ---QUADRADOS DAS MUSICAS--- */

.music-box {
    height: 150px;
    background-color: #e6e6e6;
    border-radius: 15px;
    cursor: pointer;
    position: relative;
    color: #191b1b;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
    transition: margin 0.3s, background-color 0.15s;
    
}

.music-box:hover {
    margin: -10px 0px 10px 0px;
    background-color: rgb(200,200,200);
}

.music-box:active {
    background-color: rgb(150,150,150);
}

.music-top {
    display: flex;
    height: 60px;
    padding: 8px 0px 0px 8px;
}

.music-top img {
    border-radius: 10px;
    height: 100%;
}

.music-text {
    margin-left: 7px;
    padding-top: 12px;
}

.music-name {
    font-weight: 500;
    font-size: 27px;
    line-height: 20px;
    margin-bottom: 2px;
}

.music-author {
    font-size: 15px;
}

.music-bottom {
    position: absolute;
    left: 15px;
    bottom: 10px;
    font-size: 13px;
}

/* ---PAGINA COM AS TABLATURAS--- */

#cifras {
    position: fixed;
    z-index: 3;
    background-color:rgb(235, 229, 224);
    color: rgb(25, 27, 27);   
    height: 840px;
    display: none;
    padding: 25px 20px;
    top: 35px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
    border-radius: 15px;
}

.close {
    position: relative;
    background-image: url(icons/close.svg);
    width: 24px;
    height: 24px;
    border: none;
    background-color: rgb(235, 229, 224);
    background-position: center;
    background-repeat: no-repeat;
    right: 0;
    top: -8px;
    margin-left: 14px;
    padding: 18px;
    border-radius: 100%;
    transition: background-color 0.15s;
}

.close:hover {
    background-color: #0000002c;
}

.close:active {
    background-color: #00000046;
}

#vl {
    border-left: 1px solid rgb(189, 189, 189);
    height: 860px;
    margin-left: 20px;
}

.tabs {
    line-height: 1.6;
    font-size: 14px;
    overflow-x: hidden;
    padding-right: 35px;
    margin: 10px 0px;
}

.info-tabs {
    position: relative;
    padding-right: 20px;
}

.tab-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 15px;
    margin-bottom: 2px;
    margin-top: 3px;
}

.tab-author {
    font-size: 13px;
}

.song-buttons {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 30px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.song-button {
    background-color: rgb(25, 27, 27);
    color: rgb(235, 229, 224);
    border: none;
    border-radius: 8px;
    padding: 8px 0;
    width: 100%;
    font-weight: 500;
}

/* ABA DOS ARTISTAS */

.author-box {
    display: flex;
    height: 50px;
    background-color: rgb(230, 230, 230);
    border-radius: 9px;
    cursor: pointer;
    position: relative;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
    align-items: center;
}

.author-box img {
    height: 85%;
    margin-left: 4px;
    border-radius: 7px;
}

.author-name {   
    font-weight: 500;
    font-size: 25px;
    position: absolute;
    left: 53px;
}

.song-quantity {
    position: absolute;
    right: 15px;
    font-size: 11px;
}